# Task 3: Credit Card Fraud Detection

### Importing some basic libraries

In [70]:
import pandas as pd

### Reading the data

In [71]:
cc_data=pd.read_csv('creditcard.csv')
cc_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [72]:
cc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

## Exploratory data analysis

#### Checking whether there are any missing values or not.

In [73]:
cc_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [74]:
cc_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

##### '0' signifies legit transactions and '1' signifies fraud transactions. Further, the dataset is unbalanced.

In [75]:
legit_transactions=cc_data[cc_data['Class']==0]
fraud_transactions=cc_data[cc_data['Class']==1]

In [76]:
legit_transactions['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [77]:
fraud_transactions['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

## Balancing the dataset

#### Using under sampling we will take some random samples from legit transactions which will be equal to the number of fraud transaction (ie. 492) to balance our dataset so that our machine learning algorithm will give better predictions.

In [78]:
legit_transactions_sample=legit_transactions.sample(n=492)

In [79]:
df=pd.concat([legit_transactions_sample,fraud_transactions],axis=0)
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
165248,117305.0,2.128967,-0.013356,-1.484163,0.152641,0.487897,-0.505541,0.214581,-0.298414,0.461207,...,-0.341176,-0.786752,0.205843,-1.035977,-0.139674,0.262792,-0.062332,-0.069079,1.29,0
10302,16260.0,1.126353,-0.065718,0.798525,0.989912,-0.527658,0.096821,-0.483949,0.160431,1.814012,...,-0.160535,-0.030505,-0.019578,0.203136,0.390674,0.403010,-0.037924,-0.009602,6.99,0
248106,153794.0,1.979704,-0.253219,-0.245700,0.451559,-0.645739,-0.660990,-0.432453,-0.093808,1.200701,...,-0.169620,-0.297359,0.375241,-0.043985,-0.425409,-0.620616,0.042143,-0.030472,5.00,0
107187,70322.0,-0.830736,-0.099328,1.856743,-0.924229,-0.109142,0.111078,0.399469,0.094455,0.500071,...,-0.094447,-0.265353,0.085340,-0.371043,-0.192878,0.803953,0.018876,0.124941,106.04,0
91816,63639.0,1.073191,0.264605,0.911786,2.337512,-0.357389,0.152519,-0.272481,0.201942,-0.623253,...,-0.118150,-0.565906,0.059197,-0.077223,0.157549,-0.210910,-0.006100,0.025157,40.00,0

#### Balanced dataset

In [80]:
df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

## Building the prediction model

#### Spliting data into training and testing data.

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
X = df.drop('Class', axis=1)
y= df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [83]:
from sklearn.linear_model import LogisticRegression

In [84]:
cc_model=LogisticRegression()

In [85]:
cc_model.fit(X_train,y_train)

LogisticRegression()

In [86]:
preds=cc_model.predict(X_test)

In [87]:
predictions_data=pd.DataFrame(X_test['Time'])
predictions_data['Predicted Class']=preds
predictions_data

            Time  Predicted Class
77387    57027.0                1
181966  125200.0                1
116487   74293.0                0
257865  158377.0                0
225754  144381.0                0
...          ...              ...
45203    42247.0                1
40726    40372.0                0
232568  147221.0                0
13443    23785.0                0
250761  155054.0                1

[296 rows x 2 columns]

## Evaluating the model

In [88]:
from sklearn.metrics import classification_report

In [89]:
print(classification_report(y_test,preds))

              precision    recall  f1-score   support

           0       0.91      0.95      0.93       147
           1       0.94      0.91      0.93       149

    accuracy                           0.93       296
   macro avg       0.93      0.93      0.93       296
weighted avg       0.93      0.93      0.93       296